@media screen and (min-width: 500px){
    .video-box {
        width: 880px;
        margin: 20px auto;
    }

    .spread-module:nth-child(5n) {
        margin-right: 0;
    }
}

.spread-module {
    position: relative;
    width: 160px;
    height: 150px;
    display: inline-block;
    margin: 0 20px 20px 0;
    font-size: 12px;
    overflow: hidden;
}

.spread-module .pic img {
    margin: 0 auto;
    outline: 0;
}

.spread-module .pic {
    position: relative;
    width: 160px;
    height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
}

.spread-module:hover .dur {
    opacity: 100;
}

.lazy-img {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABHCAYAAABPjLqRAAAAGXRFW…NDIJkcJcdcnr23ij5bGDbGOXabNjd9Bz2orCe1lWz/CjAAUaBevr2x6hQAAAAASUVORK5CYII=) 50% no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.lazy-img img {
    display: block;
    height: 100%;
}

.dur {
    opacity: 0;
    position: absolute;
    bottom: 2px;
    left: 6px;
    color: #fff;
    height: 12px;
    line-height: 12px;
    padding: 0 5px 1px 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.spread-module .t {
    padding-top: 8px;
    height: 40px;
    line-height: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #222;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}
.spread-module:hover .t {
    color: #009cd6;
}

.spread-module .num{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    color: #99a2aa;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.spread-module:hover .num{
    bottom: -16px;
}

.spread-module .num span {
    line-height: 12px;
    height: 14px;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    font-size: 12px;
    vertical-align: bottom;
}
.spread-module .num i {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.icon {
    display: inline-block;
    background-image: url(/static/img/icons.png);
}
.spread-module .num .play .icon {
    background-position: -282px -90px;
}
.spread-module .num .danmu .icon {
    background-position: -282px -218px;
}