body {
    animation-delay: 2s;
    font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

a, a:hover, ins {
    color: #000;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

:focus, a:focus {
    outline: none;
}

@media screen and (min-width: 1024px) {
    body {
        width: 1024px;
        margin: auto;
    }
}

@media screen and (min-width: 500px) {
    #banner_link {
        position: relative;
        z-index: 199;
        height: 170px;
        margin-top: -42px;
        background: #eee url(/static/img/japanese-banner.jpg) no-repeat center -10px;
    }

    #banner_logo {
        position: absolute;
        width: 220px;
        height: 105px;
        left: 24px;
        top: 55px;
        background: transparent no-repeat 0;
        z-index: 10;
    }
}

.head-content .search {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 268px;
    height: 32px;
    padding: 2px;
    background-color: #e5e9ef;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    font-size: 12px;
    z-index: 10;
}

.head-content .search .searchform {
    background-color: #fff;
    background-color: hsla(0,0%,100%,.88);
    display: block;
    height: 32px;
    border-radius: 4px;
    -webkit-transition: background-color .2s;
    -o-transition: .2s background-color;
    transition: background-color .2s;
}

.head-content .search .search-keyword {
    float: left;
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.head-content .search button.search-submit {
    display: block;
    position: absolute;
    right: 0;
    width: 48px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    background: url(/static/img/icons.png) -653px -720px;
    margin: 0;
    padding: 0;
    border: 0;
}

.head-content .search-suggest {
    position: relative;
    border: 1px solid #e5e9ef;
    margin-top: 2px;
    background: #fff;
    z-index: 99999;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,.16) 0 2px 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    padding-bottom: 5px;
    font-size: 12px;
}

.head-content .search-suggest .suggest-item {
    padding: 6px 10px;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    color: #222;
    position: relative;
}

.head-content .search-suggest .suggest-item:hover {
    background-color: #e5e9ef;
}

.head-content .search-suggest .b-line {
    border-top: 1px solid #e5e9ef;
    position: relative;
    height: 10px;
    margin: 10px 10px 0;
}

.head-content .search-suggest .b-line span {
    display: inline-block;
    padding: 0 10px;
    height: 18px;
    text-align: center;
    cursor: pointer;
    color: #99a2aa;
    background: #fff;
}

.head-content .search-suggest .suggest-item a {
    color: #222;
    display: block;
}

.head-content .search-suggest .b-line p {
    margin-top: -10px;
    text-align: center;
}

.head-content .search-suggest .cancel {
    position: absolute;
    right: 10px;
    top: 0;
    width: 38px;
    height: 28px;
    background: url(/static/img/icons.png) -461px -530px no-repeat;
}