<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/colpick.css" rel="stylesheet">
    <link href="/static/css/video.css" rel="stylesheet">
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/CommentCoreLibrary.min.js"></script>
    <script src="/static/js/ABPMobile.js"></script>
    <script src="/static/js/ABPLibxml.js"></script>
    <script src="/static/js/ABPlayer.js"></script>
    <script src="/static/js/ColPick.js"></script>
    <script type="text/javascript">
        window.addEventListener("load",function(){
            var inst = ABP.create(document.getElementById("player"), {
                src: {
                    playlist: [{
                        video: document.getElementById("video"),
                        comments: "{{ video.danmu_url }}"
                    }]
                },
                width: 1024,
                height: 500,
                mobile: isMobile()
            });
            window.abpinst = inst;
        });
    </script>
</head>
<body>
    {% include "nav.html" %}
    <div class="wrapper">
        <div class="video-info">
            <h1 title="{{ video.name }}">{{ video.name }}</h1>
            <div class="info">
                <time>{{ video.time }}</time>
                <a class="btn-appeal">稿件投诉</a>
            </div>
            <div class="number">
                <span class="v play">{{ video.play }}</span>
                <span class="v dm">{{ video.danmu }}</span>
            </div>
        </div>
        <div class="up-info">
            <div class="avatar">
                <a href="#" target="_blank" class="a">
                    <img src="/static/img/avatar.png" width="68" height="68" class="avatar">
                </a>
            </div>
            <div class="info">
                <div class="user">
                    <a href="#" target="_blank" class="name">{{ video.up.name }}</a>
                </div>
                <div class="btn followe">
                    <a class="bi-btn b-gz">
                        <span class="gz">+ 关注</span>
                        <!--span class="ygz">已关注</span>
                        <span class="qxgz">取消关注</span-->
                    </a>
                </div>
                <div class="bio"><span>{{ video.up.bio }}</span><!----></div>
                <div class="number">
                    <span>投稿：{{ video.up.uploads }}</span>
                    <span>粉丝：{{ video.up.followers }}</span>
                </div>

            </div>
        </div>

        <div id="player">
            <video id="video" autobuffer="true" data-setup="{}">
                <source src="{{ video.url }}" type="video/mp4">
                <p>Your browser does not support html5 video!</p>
            </video>
        </div>
    </div>
</body>
</html>